{
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": [
        "**/*.json",
        "**/*.jsonc",
        "**/*.json5",
        "**/*.yaml",
        "**/*.yml",
        "**/*.toml"
      ],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
